<%- include('includes/header') %>
  
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-lg-auto">
            <li class="nav-item @@home__active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
          </div>
  


          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
            <nav class="navigation">
              <div class="theme-switch-wrapper">
                <label class="theme-switch" for="checkbox">
                  <input type="checkbox" id="checkbox">
                  <div class="mode-container py-1">
                    <i class="gg-sun"></i>
                    <i class="gg-moon"></i>
                  </div>
                </label>
              </div>
            </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>

    </div>
  </header>
  <!--/header-->

<!-- Contact breadcrumb -->
<section class="w3l-about-breadcrumb text-center">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-4">
            <h2 class="title pt-md-5 pt-4">Contact Us</h2>
        </div>
        <div class="hero-overlay"></div>
    </div>
</section>
<!-- //Contact breadcrumb -->



<section class="w3l-contact-main py-5" id="contact">
    <div class="container pt-lg-5 pt-md-3">
        <div class="title-content text-center mb-md-5 mb-4">
            <h3 class="title-big mx-lg-5">We sell high quality marble goods</h3>
            <p class="text-para mt-2">
              Get affordable and quality marble goods right to your doorstep.
            </p>
        </div>

        <div class="w3l-contact-info">
            <div class="row contact-infos">
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-infos">
                        <div class="icon-box"> <span class="fa fa-map-o"></span></div>
                        <div class="text-box">
                            <h3 class="mb-2">Our Location</h3>
                            <p>Block H, Shop1, Coker Marble Line, Badagry Expressway, Coker Bus stop, Lagos.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                    <div class="single-contact-infos">
                        <div class="icon-box"> <span class="fa fa-mobile"></span></div>
                        <div class="text-box">
                            <h3 class="mb-2">Give us a call</h3>
                            <p><a href="">08034308660</a></p>
                            <p><a href="">08029449330</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                    <div class="single-contact-infos">
                        <div class="icon-box"> <span class="fa fa-envelope-o"></span></div>
                        <div class="text-box">
                            <h3 class="mb-2">Help Desk</h3>
                            <p> <a href="">dejerrinterbizz@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('includes/footer') %>